*{
    margin: 0;
}
/* header */
#header{
    display: flex;
    border-bottom: 1px solid #2c455e;
    margin-bottom:12px;
    flex-wrap: wrap;
    padding-top: 20px;
    min-height: 30px;
}
#header .logos{
    display: inline-block;
    margin-right:200px;
    padding-left: 30px;
    width: 330px;
    height: 70px;
    justify-content: center;
    
}
#header .nav ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.nav ul li{
    display: inline-block;
    margin-left: 30px;
    padding:12px;
}
.nav ul li a{
    text-decoration: none;
    font-size: 1.1em;
    color:#34546f;
    font-weight:900;
}
.active{
    background-color: #ec8c16;
    height: 26px;
}

/* ================================================================ Index    ===================================================== */
/* banier */

.banier{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 100%;
}
.banier .col{
    background-color: #2e69ad;
    padding-left: 30px;
    padding-top: 40px;
    color: #ffff;
}
.banier .col p{
    margin: 50px;
    font-size: 27px;
    text-align: justify;
    margin-top: 20px;
}
.banier .centre{
    margin-left: 100px;
    text-align: center;
    width: 400px;
}
.banier .centre button{
    background-color: #ec8c16;
    border: #ec8c16;
    height: 50px;
    margin: 12px;
    font-size: 1em;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}
.banier .centre span{
    font-size: 12px;
    margin: 0;
    text-align:center;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    width: 300px;
}

/* main */

.main{
    background-color: #ffff;
}
.main h2{
    text-align: center;
    margin-top:70px;
    font-size: 40px;
    margin-bottom: 60px;
    color: #2e69ad;
}

.formation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}
.formation .box-article{
    width: 340px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 10px #f6f5fc;
    border-radius: 10px;
    padding: 20px 40px;
    height: 650px;
    color: #295e99;
    font-size: 30px;
}
.formation .box-article img{
    display: inline-block;
    margin-left: 35%;
    margin-bottom: 20px;
}
.formation .box-article h3{
    font-weight: bold;
    font-size: 24px;
    margin: 20px 0 ;
}
.formation .box-article p{
    margin: 20px 0;
    font-size: 20px;
}
.formation .box-article .p{
    height: 200px;
}
.formation .box-article a, .transformation a{
    display: inline-block;
    border-radius: 40px;
    background-color: #ec8c16;
    width: 300px;
    height: 30px;
    text-align: center;
    padding: 12px 15px;
    text-decoration: none;
    color: #ffff;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0 auto;
}


/* formation */
.transformation{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.transformation .box-info{
    width: 90%;
    display: flex;
    flex-direction: row;
    height: auto;
    margin: 0 auto;
    box-shadow: 10px 2px 10px 10px #f6f5fc;
    font-size: 20px;
    padding: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: justify;
    color: #295e99;
}
.transformation .box-info img{
    display: inline-block;
    margin: 0 50px;
}

/* temoignage */
.temoignage{
    margin-top: 100px;
    background-color: #ec8c16;
    text-align: center;
    padding: 50px;
    color: #ffff;
    font-size: 20px;
}
.temoignage h2{
    font-size: 40px;
    margin-bottom: 40px;
    letter-spacing: 1px;
}
.temoignage .video{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.temoignage .video iframe{
    margin: 0 auto;
    margin-top: 50px;
}

/* ================================================================== aws-restar   ========================================================   */
.bannier{
    background-image: url("/images/blog-post_aws-restart-programme.jpg");
    color: #ffffff;
    height: 400px;
    font-size: 30px;
    padding-left: 10%;
    padding-top: 3%;
    background-repeat: no-repeat;
    background-size: cover;
}
.bannier img{
    display: inline-block;
    margin-bottom: 30px;
}
.bannier p{
    margin-left: 20px;
    width: 310px;
    letter-spacing: 1px;
}
.bannier .taille-moyen{
    font-size: 16px;
    margin-top: 20px;
}
.bannier button{
    background-color: #ec8c16;
    border: #ec8c16;
    height: 40px;
    margin: 12px;
    font-size: 18px;
    border-radius: 5px;
    text-transform: uppercase;
    color: #ffff;
    margin-left: 20px;
    cursor: pointer;
}
.box{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 25px;
}
.box .para{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    text-align: justify;
    margin-top:10px;
}
.box .para .paragraphe{
    width: 440px;
    margin: 20px;
    margin-bottom: 40px;
}
.critaire{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #e2e3e8;
}
.critaire article{
    width: 350px;
}
.box .box-article,.box .row{
    display: flex;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;
}
.box2{
    background-color: #ec8c16;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
}
.box-article article,.row article{
    width: 450px;
    height: 550px;
    margin: 30px;
    background-color: #ffff;
    padding: 10px;
}
.inscrivez-vous,.sous-title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    
}
.row article{
    height: auto;
    background-color:#e2e3e8 ;
}
.inscrivez-vous button{
    width: 110px;
    height: 40px;
    background-color: #ec8c16;
    border: #ec8c16;
    margin-top:12px;
    font-weight: bold;
    font-size: 20px;
}

/* footer */
.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    
}
.footer .row{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #3c3c3c;
    padding-top:50px;
    padding-bottom: 50px;
    color: #ffff;
    font-family: 'Courier New', Courier, monospace;
}
.footer .copyright{
    background-color: #545b88;
    padding:12Px;
}
.footer .col-foot h4{
    margin-top: 30px;
    margin-bottom: 12px;
    font-size: 1.2em;
    font-weight: bold;
}
.footer .col-foot{
    width: 300px;
    margin-top: 20px;
}
.col-foot p a, .col-foot .contact{
    display: inline-block;
    color: #ffff;
    text-decoration: none;
    background-color: #ec8c16;
    margin-top: 14px;
    padding: 12px;
    border-radius: 5px;
    text-align: center;
}
.footer .col-foot p a{
    width: 200px;
    
}
.footer .col-foot ul{
    padding: 0;
}
.footer .col-foot li{
    list-style: none;
    margin-top: 12px;
}
.footer .col-foot li a{
    color: #ffff;
    text-decoration: none;
}
.footer .col-foot img{
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    width: 70%;
}